language: c++
compiler: g++
os: linux
dist: precise
install:
- cd src
- make -j4
before_install:
- echo $LANG
- echo $LC_ALL
- echo $TRAVIS_OS_NAME
- sudo apt-get -qq update
- sudo apt-get install -y freeglut3-dev mesa-common-dev libfox-1.6-dev libfftw3-dev libgl1-mesa-glx
- bash download-externals.sh
